/** HEADER **/
#header-nav {
  color: black;
  background-color: #DEDEDE;
  border-radius: 0;
  border: 0;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

/* #collapsable-nav {
overflow: hidden;

} */

#nav-list {
  text-align: center;

}

#nav-list li {
  border-top: 1px #DDDDDD solid;
  border-bottom: 1px #DDDDDD solid;
}
